body {
    padding: 25px;
    background-color: whitesmoke;
    color: #111;
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
  }
  .dark-mode {
    background-color: #111;
    color: whitesmoke;
    transition: all 0.7s ease;
  }
  .light-mode {
    background-color: whitesmoke;
    color: #111;
    transition: all 1s ease;
  }

  .btn {
      width: 50px;
      background: black;
      color: white;
      border-radius: 5px;
      padding: 5px;
  }

  .btn2 {
      width: 50px;
      background: white;
      color: black;
      border-radius: 5px;
      padding: 5px;
  }

  .img {
      text-align: center;
  }